<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <div th:fragment="resultsTable">
        <table th:each="job : ${jobs}" class="job-listing">
            <tr>
                <td class="h4">ID</td>
                <td style="color:blue" th:text="${job.id}"></td>
            </tr>
            <tr>
                <td class="h4">Name</td>
                <td style="color:blue" th:text="${job.name}"></td>
            </tr>
            <tr>
                <td class="h4">Employer</td>
<!--                <td style="color:blue"><a th:text="${job.employer}" th:href="@{/list/jobs(column='employer',value=${job.employer})}"></a></td>-->
                <td style="color:blue" th:text="${job.employer}"></td>

            </tr>
            <tr>
                <td class="h4">Location</td>
<!--                <td style="color:blue"><a th:text="${job.location}" th:href="@{/list/jobs(column='location',value=${job.location})}"></a></td>-->
                <td style="color:blue" th:text="${job.location}"></td>

            </tr>
            <tr>
                <td class="h4">Position Type</td>
<!--                <td style="color:blue"><a th:text="${job.positionType}" th:href="@{/list/jobs(column='positionType',value=${job.positionType})}"></a></td>-->
                <td style="color:blue" th:text="${job.positionType}"></td>

            </tr>
            <tr>
                <td class="h4">Skill</td>
<!--                <td style="color:blue"><a th:text="${job.coreCompetency}" th:href="@{/list/jobs(column='coreCompetency',value=${job.coreCompetency})}"></a></td>-->
                <td style="color:blue" th:text="${job.coreCompetency}"></td>

            </tr>

        </table>
    </div>
</div>

</body>
</html>